body{
  color: black;
}
.vh-70{
  height: 90vh;
}
.intro{
  background: url(../assets/images/artist_header.png) no-repeat center center;
  background-size: cover;
}
.intro img{
  padding-top: 20vh;
}
hr{
  color: #000;
  background: #000;
}